.PostPreview {
    padding: 1em;
    background: var(--accent--background);

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & > .name {
        font-weight: bold;
    }

    & > .pubDate {
    }

    & > .tags {
    }

    & > .abstract {
        /* margin-top: 0.5em; */
    }
}
