html {
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;

    /* disable scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

code {
    font-family: Iosevka, monospace;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    background: var(--body--foreground);
    color: var(--body--foreground);

    font-family: Spectral, serif;
    font-size: 16pt;
    line-height: 1.5em;
}

main {
    z-index: 0;

    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: var(--main--width);
}

*:target {
    box-shadow: var(--target--box-shadow);
}
